@font-face {
  font-family: Audiowide;
  src: url('../fonts/Audiowide.ttf');
}
@font-face {
  font-family: FrederickatheGreat;
  src: url('../fonts/FrederickatheGreat.ttf');
}
@font-face {
  font-family: PirataOne;
  src: url('../fonts/PirataOne.ttf');
}
@font-face {
  font-family: SnigletExtraBold;
  src: url('../fonts/SnigletExtraBold.ttf');
}
@font-face {
  font-family: Sniglet;
  src: url('../fonts/Sniglet.ttf');
}
@font-face {
  font-family: VT323;
  src: url('../fonts/VT323.ttf');
}